<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change Password success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="col-md-12" align="center">
        <br />

        <table width="100%">
        	<tr>
        		<td align=left><a href="http://localhost:8990/change_password">Back</a> </td>        		
        		<td align=right><a href="http://localhost:8990/logs">Logs</a>
        		<td align=right><a href="http://localhost:8990/users">List of Users</a>
        		</td>
        	</tr>
        </table>
        <div class="alert alert-success col-md-8" role="alert">
            <p th:text="${successMsg}" />
        </div>
    </div>
</body>
</html>